---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello guys!</h1>
			<p>
				Welcome to this page - Noobie's official website.
			</p>
			<p>
				You can check out my social media links by clicking the icons at the top and bottom of the page!
			</p>
		</main>
		<Footer />
	</body>
</html>
